/* .namanomor:focus-within,
.date:focus-within {
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
} */
.filter .namanomor,
.filter .date {
    /* background: #f3f5fa; */
    background: #FFE3E1;
    transition: 0.15s;
}

.filter .namanomor .input-group-text,
.filter .date .input-group-text {
    /* border-top: 1px #EC0000 solid;
    border-bottom: 1px #EC0000 solid;
    border-left: 1px #EC0000 solid; */
    border: none;
    background-color: #FFE3E1;
}

.filter .namanomor .form-control,
.filter .date .form-control {
    /* border-top: 1px #EC0000 solid;
    border-bottom: 1px #EC0000 solid;
    border-right: 1px #EC0000 solid; */

    border: 1px #EC0000 solid;
    background-color: #FFE1D1;
}

.filter .namanomor .form-control {
    padding: 10px 10px 10px 0px;
}

.filter .date .form-control {
    padding: 10px 0px 10px 10px;
}

.filter .namanomor .form-control:focus,
.filter .date .form-control:focus {
    box-shadow: none;
}

.form-select-filter {
    display: block;
    width: 100%;
    border: 1px #EC0000 solid;
    background-color: #FFE1D1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
}

.ui-widget.ui-widget-content {
    border: none !important;
    margin-top: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    padding: 16px;
    border-radius: 10px;
}

.ui-widget-header {
    border: none;
    background-color: #f3f5fa;
    color: #4e5764;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
}

.ui-datepicker-calendar {
    color: #4e5764;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    /* background: none; */
    font-weight: normal;
    color: #454545;
    border: none;
    text-align: center;
    border-radius: 20px;
}

.ui-datepicker td a {
    display: block;
    padding: 0;
    text-align: right;
    text-decoration: none;
    width: 34px;
    line-height: 34px;
    height: 34px;
}

.ui-datepicker td a:hover {
    background-color: #3574ed;
    transition: 0.3s;
    color: white;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    background-color: #3574ed;
    color: white;
}

.my-table .no-urut {
    width: 4%;
}

.my-table .nomordokumen {
    width: 20%;
}

.my-table .namadokumen {
    width: 28%;
}

.my-table .statusdokumen {
    width: 14%;
}

.my-table .pemohon {
    width: 14%;
}

.my-table .tglupload {
    width: 11%;
}

.my-table .aksi {
    width: 11%;
}

.my-table .header {
    background: rgba(0, 26, 65, 0.63);
}

.my-table .data .box-icon.disable {
    background-color: #aaaaaa !important;
}

.my-table .data .box-icon {
    width: 33px;
    height: 33px;
    background: #3574ee;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

/* table bootstrap */
.table .prof-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.table tr th {
    font-weight: 500;
}

.table .box-icon {
    position: relative;
    width: 33px;
    height: 33px;
    display: flex;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    background-color: #FFBF9D;
    color: #D21312;
    cursor: pointer;
}

.table .box-icon:hover .my-tooltip {
    display: inline-block !important;
    position: absolute;
    max-width: 105px;
    height: 40px;
    padding: 2px;
    width: 108px;
    bottom: -40px;
    overflow: hidden;
    z-index: 1;
    left: -100%;
    transition: 0.5s;
}

.my-tooltip .segitiga {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #454545;
    left: 40%;
    top: 4px;
    transform: rotate(-45deg);
    border-top-right-radius: 5px;
}

.my-tooltip span {
    color: white;
    background: #454545;
    padding: 7px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    left: 0;
    right: 0;
}

.pds-terbaru {
    border-left: 3px #f86c6b solid;
}

/* .table .box-icon:hover span {
    display: inline-block !important;
    color: white;
    background: black;
    width: max-content;
    padding: 7px;
    font-size: 12px;
    border-radius: 8px;
    top: 43px;
    left: -112%;
    z-index: 1;
}
.table .box-icon span::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: black;
    top: -4px;
    z-index: -2;
    left: 40%;
    transform: rotate(42deg);
    border-radius: 3px;
} */
.table .box-icon .bi {
    margin: auto;
    justify-content: center;
}

.table .box-icon.disable {
    background-color: #aaaaaa !important;
    cursor: not-allowed;
}

.pengajuan td:nth-child(1),
.pengguna td:nth-child(1),
.peninjauan td:nth-child(1),
.pengguna td:nth-child(6) {
    width: 4%;
}

.pengajuan td:nth-child(2),
.pengguna td:nth-child(4) {
    width: 16%;
}

.pengajuan td:nth-child(4),
.pengguna td:nth-child(2),
.peninjauan td:nth-child(2),
.peninjauan td:nth-child(5) {
    width: 14%;
}

.pengajuan td:nth-child(4) {
    width: 18%;
}

.pengajuan td:nth-child(5),
.pengguna td:nth-child(5) {
    width: 16%;
}

.pengajuan td:nth-child(6),
.peninjauan td:nth-child(6),
.peninjauan td:nth-child(4),
.peninjauan td:nth-child(7) {
    width: 14%;
}

.pengajuan td:nth-child(7) {
    width: 12%;
}