hr {
    color: #c9c8c8;
    margin-bottom: 4px;
}

body {
    font-family: "Poppins", sans-serif;
    background: #e4e5e6;
}

.page-link {
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    border-radius: 50% !important;
}

.bg-success {
    background: #35ee5d !important;
}

.my-bg-dark {
    background: rgb(94 110 135);
}

.text-color {
    color: #4e5564;
}

.fw-medium {
    font-weight: 500;
}

.bg-primary-status {
    background: rgba(53, 116, 238, 0.1);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FF725E;
    background-color: #FFE1D1;
}

.bg-danger-status {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ed0226;
    background: rgba(237, 2, 38, 0.1);
}

.bg-success-status {
    background: rgba(53, 238, 71, 0.1);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #35ee5e;
}

.btn-checkbox {
    width: 100%;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 11px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4e5764;
    margin: 3px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-check-custom:checked+.btn-checkbox,
.btn-check-custom:active+.btn-checkbox {
    transition: 0.2s;
    color: #ec0000;
    border-color: #ec0000;
    background: rgba(255, 114, 94, 0.24);
}

.btn-checkbox-detail {
    padding: 11px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ec0000;
    border: 1px solid #ec0000;
    background: rgba(255, 113, 94, 0.24);
}

.btn-primary {
    background: #3574ee;
    border-radius: 8px;
}

.box-radius-10 {
    border-radius: 10px;
}

.content h1.title {
    font-weight: 400;
    font-size: 20px;
    font-family: Roboto;
    line-height: 36px;
    padding: 6px 0 0 6px;
    color: #ec0000;
}

/* info-data */
.info-data {
    display: flex;
    justify-content: space-evenly;
}

.dokumen-diupload,
.dokumen-disahkan,
.dalam-proses {
    width: 205px;
    height: 157px;
    border: 3px #FFBF9D solid;
    border-radius: 20px;
    padding: 23px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.info-data .dokumen-diupload .icon,
.info-data .dokumen-disahkan .icon,
.info-data .dalam-proses .icon {
    width: 55px;
    height: 55px;
    font-size: 25px;
    color: white;
}

.info-data .dokumen-diupload .icon {
    box-shadow: 5px 11px 47px 5px rgba(40, 75, 145, 0.2);
}

.icon {
    background-color: #FF725E;
}

.info-data p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5a5a5a;
}

.info-data h1 {
    font-weight: 600;
    padding-top: 10px;
    font-size: 48px;
    line-height: 57px;
    color: #545454;
}

/*  */

.content .container-fluid {
    padding-top: calc(var(--bs-gutter-x) * 0.5);
}

.content .table .header-table {
    background: rgba(0, 26, 65, 0.63);
}

.content .table .data-table .prof-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(assets/thomeas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content .table .data-table {
    color: #4e5764;
}

.content .table .data-table span.nama {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.content .table .data-table .nama-dokumen {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #4e5764;
}

.content .table .data-table .btn {
    padding: 10px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.content .modal-custom.active {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 34, 54, 0.18);
    transition: 0.4s;
}

.content .modal-custom.off {
    display: none !important;
    transition: 0.4s;
}

.content .modal-custom .modal-content .header-modal {
    padding: 25px;
}

.content .modal-custom .modal-content .header-modal h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #888282;
    margin: 0;
}

.content .modal-custom .modal-content .header-modal span {
    font-weight: 600;
    font-size: 15px;
    color: #d00000;
    margin-left: 65px;
}

.content .modal-custom .modal-content {
    height: auto;
    background: white;
    margin: auto;
    border-radius: 20px;
}

.content .modal-custom.modal-custom-tinjau .modal-content {
    width: 700px;
    border: 4px #ec0000 solid;
}

.content .modal-custom.modal-custom-upload .modal-content {
    width: 942px;
    border: 4px #ec0000 solid;
}

.content .modal-custom.modal-custom-detail .modal-content {
    width: 700px;
    border: 4px #ec0000 solid;
}

.content .modal-custom.modal-custom-perbaiki .modal-content {
    width: 600px;
}

.close-modal {
    width: 100%;
    height: 100%;
}

.content .modal-custom-tinjau .modal-content .box-modal-content {
    padding: 20px;
}

.content .modal-custom-tinjau .modal-content .box-modal-content .modal-prof-circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-image: url(assets/thomeas.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* .content .modal-custom h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #4e5764;
} */
.content .modal-custom p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #888c96;
    margin: 0;
}

.content .modal-custom p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #4e5764;
}

.content .modal-custom form .form-label {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #ec0000 !important;
}

.content .modal-custom form input {
    background-color: white !important;
}

.content .modal-custom form .form-control,
.content .modal-custom form .download-file {
    padding: 12px 27px !important;
}

.content .modal-custom-tinjau .modal-content .box-modal-content form .my-btn-primary {
    padding: 10px 34px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.content .modal-custom-tinjau .modal-content .box-modal-content form .my-btn-danger {
    background: #fdebeb;
    border-color: #fdebeb;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 34px;
    color: #ed0226;
}

.content .modal-custom-tinjau .modal-content .box-modal-content .komentar {
    /* height: 100%; */
    background: #f3f5fa;
}

.content .modal-custom-tinjau .modal-content .box-modal-content .komentar h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4e5764;
}

.content .modal-custom-tinjau .modal-content .box-modal-content .komentar .body {
    height: 370px;
}

.content .modal-custom-tinjau .modal-content .box-modal-content .komentar input {
    box-shadow: 4px 4px 60px -9px rgba(0, 26, 65, 0.23);
}

.content .modal-custom-tinjau .modal-content .box-modal-content .komentar button {
    color: #3574ee;
    font-size: 24px;
}

.content .modal-custom .profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.content .modal-custom-tinjau .modal-content .box-modal-content .komentar .person .detail h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #4e5764;
}

.content .modal-custom-tinjau .modal-content .box-modal-content .input-group>.form-control.fileTinjau {
    flex: 0 !important;
    width: 100% !important;
    z-index: 3;
    /* opacity: 0; */
}

.content .modal-custom-tinjau .modal-content .box-modal-content .rounded-end.roundTinjau {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

/* status pds */
.doc-track {
    border-radius: 10px 10px 0 0;
    height: 52px;
    background-color: #f0f3f5;
    border-top: 2px #F86C6B solid;
    border-bottom: 1px #c8ced3 solid;
}

.content button.mybutton {
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.status-pds {
    border: 1px #c8ced3 solid;
}

.content .status-pds .data-pds .nama {
    width: 70%;
}

.content .status-pds .data-pds .status {
    width: 30%;
}

.content .status-pds .data-pds .data {
    padding: 10px;
}

.content .status-pds .data-pds .data.active {
    border: var(--bs-border-width) var(--bs-border-style) #FFBF9D !important;
    border-radius: 20px;
}

#scroll-custom::-webkit-scrollbar {
    width: 8px;
    margin-right: 2px;
}

#scroll-custom::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 10px;
}

#scroll-custom::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
}

.status-pds .detail-monitor h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.content .status-pds .detail-monitor .info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
    color: #4e5564;
}

.content .status-pds .detail-monitor .info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    color: #777b81;
}

#komenter-monitor {
    transition: 0.5s;
}

#komenter-monitor.position-absolute {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.content .status-pds .detail-monitor .komentar {
    background: #f3f5fa;
    padding: 0.5rem;
}

.content .status-pds .detail-monitor .komentar.active {
    padding: 1rem;
}

.content .status-pds .detail-monitor .komentar .box-komentar {
    height: 30px;
    overflow-y: auto;
}

.content .status-pds .detail-monitor .komentar .box-komentar.full {
    height: 254px;
}

.content .status-pds .detail-monitor .komentar form button {
    padding: 2px;
    font-size: 20px;
}

.content .status-pds .detail-monitor .komentar.active form button {
    padding: 10px;
    font-size: 24px;
}

.status-pds .detail-monitor .profile {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.content .status-pds .monitor {
    background: #f2f2f2;
}

.content .status-pds .monitor .box-monitor {
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
}

.content .status-pds .monitor .box-monitor .point {
    display: inline-block;
}

.content .status-pds .monitor .box-monitor .point.active {
    background: #3574ee;
    color: white;
}

.content .status-pds .monitor .box-monitor .point.active.on {
    box-shadow: 7px 4px 39px 3px rgba(53, 116, 238, 0.61);
}

.content .status-pds .monitor .box-monitor .point.off {
    background: #85888d;
    color: white;
}

.rell-start-to-pic,
.rell-pic-to-pihakterkait {
    width: 112px;
}

.rell-pihakterkait-to-manajemen {
    margin-right: 1.5rem !important;
    height: 40px;
    width: 90px;
}

.rell-pengendalidokumen-to-finish,
.rell-manajemen-to-pengendalidokumen {
    width: 70px;
}

.rell-start-to-pic .circle,
.rell-pic-to-pihakterkait .circle,
.rell-pihakterkait-to-manajemen .circle,
.rell-pengendalidokumen-to-finish .circle,
.rell-manajemen-to-pengendalidokumen .circle {
    padding: 6px;
}

.rell-start-to-pic .square,
.rell-pic-to-pihakterkait .square,
.rell-pengendalidokumen-to-finish .square,
.rell-manajemen-to-pengendalidokumen .square {
    height: 5px;
    width: 12px;
}

.rell-pihakterkait-to-manajemen .square {
    width: 5px;
    height: 12px;
}

.content .status-pds .monitor .box-monitor .red .off,
.content .status-pds .monitor .box-monitor .blue .off {
    background: #85888d;
}

.rell-start-to-pic .red .active,
.rell-pic-to-pihakterkait .red .active,
.rell-pihakterkait-to-manajemen .red .active,
.rell-manajemen-to-pengendalidokumen .red .active {
    background: #ed0226;
}

.rell-start-to-pic .blue .active,
.rell-pic-to-pihakterkait .blue .active,
.rell-pihakterkait-to-manajemen .blue .active,
.rell-manajemen-to-pengendalidokumen .blue .active {
    background: #3574ee;
}

.rell-start-to-pic .blue .right .active {
    background-color: #85888d;
}

.right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #636363;
    border-radius: 10px;
}

.left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #636363;
    border-radius: 10px;
}

.up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #636363;
    border-radius: 10px;
}

.down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #636363;
    border-radius: 10px;
}

.content .status-pds .monitor h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.94);
}

.content .status-pds .monitor h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #4e5564;
}

.dragdrop {
    font-weight: 500 !important;
    color: #4e5764;
}

/* pengaturan */
.pengaturan .profile {
    background-color: #3574ee;
    width: 100px;
    height: 100px;
}

.setting .form-control:disabled {
    background-color: white !important;
}

/* .body {
    margin: 0;
    padding: 0;
} */

.pengaturan .profil {
    height: 160px;
    width: 160px;
    position: relative;
    border: 5px solid #ffff;
    border-radius: 50%;
    background: tomato;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-label {
    font-size: 15px;
    font-weight: 500;
    color: #8c8282;
}

.form-pengaturan {
    color: #434242;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px #b0a4a4 solid;
}


.setting {
    justify-content: space-evenly;
}

.profile {
    width: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profil-isi {
    width: 600px;
}

.profil-isi p {
    font-size: 25px;
    font-family: Poppins;
    text-align: center;
    font-weight: 700;
    color: #ec0000;
}

.profile,
.profil-isi {
    display: block;
    margin-top: 100px;
    height: 420px;
    padding: 25px;
    border-radius: 20px;
}

.circle {
    display: block;
    background: #000;
    width: 70px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.my_type {
    left: 43%;
    position: absolute;
    bottom: -10%;
    outline: none;
    color: transparent;
    width: 20%;
    box-sizing: border-box;
    padding: 14px 24px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.my_type::-webkit-file-upload-button {
    visibility: hidden;
}

.my_type::before {
    content: "\F220";
    font-family: "Bootstrap-icons";
    font-size: 30px;
    color: #ec0000;
}

/* file upload */

.upload-container {
    left: 0;
    right: 0;
    border: 1px solid #92b0b3;
}

.upload-container input#fileUpload {
    background-color: transparent !important;
    outline-offset: -10px;
    width: 100%;
    height: 300px;
    text-align: center !important;
}

.upload-container input:hover {
    background: #ddd;
}

/* modal history */
.history {
    border: 1px #FF725E solid;
    border-top: none;
    border-radius: 5px 5px 24px 24px;
    border-color: #FF725E;
}

.box-history {
    border: 1px #FF725E solid;
    border-radius: 10px;
}